footer.footer 
	.section_in 
		.footer_main
			.footer_col_left 
				.footer_copyright © 2022 Все права защищены
				.footer_policy 
					a(href="#") Политика конфиденциальности
				.footer_policy 
					a(href="#") 
						img(src="i/arkada.png", alt="")