.popup 
	.popup_bg.remove_popup 
	.popup_main
		.popup_close.remove_popup 
			+icon('close') 
		.popup_main_head 
			h3 Оставьте заявку
			p Мы свяжемся с вами в ближайшее время!
		form.popup_main_form
			+input({
				place: 'Ваше имя',
				class: 'popup_input'
			})
			+input({
				place: 'Ваш телефон',
				type: 'tel',
				class: 'popup_input'
			})
			+btn({
					class: 'popup_btn',
					type: 'submit',
					title: 'Оставить заявку'
				})
			.popup_policy!='Отправляя данные, вы соглашаетесь с <a href="#" target="_blank" >политикой конфиденциальности</a>'