img {
	width: 100%;
	height: auto;
	object-fit: contain;
	display: block;
}

h1 {
	font-size: 5.5rem;
	font-family: $font_3;
	color: $white;
	font-weight: 500;
	@include bp($point_2) {
		font-size: 3rem;
	}
}
// End
h2, h3, h4, h5, h6 {
	font-size: 4.5rem;
	font-family: $font_3;
	color: $dark;
	font-weight: 500;
	@include bp($point_2) {
		font-size: 2.6rem;
	}
}

.global_txt {
	p, ul, ol, span {
		@include bp($point_2) {
			font-size: 1.6rem;
		}
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
	li {
		@include bp($point_2) {
			font-size: 1.4rem;
		}
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
		padding-left: 1rem;
		position: relative;
		&:before {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			content: '-';
		}
	}
}


