// Global 
$header: 9.5rem;
$footer: 6.8rem;

// Mobile
$header_mob: 7rem;
$footer_mob: 10rem;

//---------------------------------------------fonts
$font_path: "../fonts/";
$font_1: 'Noto-Sans', sans-serif;
$font_11: 'NotoSans-Medium', sans-serif;
$font_111: 'NotoSans-SemiBold', sans-serif;
$font_2: 'Play-Regular', sans-serif;
$font_3: 'Play-Bold', sans-serif;

$font_size_base: 1.8rem;
//---------------------------------------------fonts###

//---------------------------------------------colors
$white: #fff;
$black: #000;
$dark: #222222;
$blue: #0067C6;
$grey: #A4A4A4;
$trans: transparent;



$color_text_base: $dark;
$color_link_base: $dark;
$body_bg: $white;
//---------------------------------------------colors###

//---------------------------------------------z-index
$z-index: (
	popup : 101,
	header : 100,
	footer : 100,
	el: -1,

);
//---------------------------------------------z-index###

//---------------------------------------------layout
$page_width: 132rem;

//---------------------------------------------layout###

//---------------------------------------------global values
$gl_radius: 2.4rem;
//---------------------------------------------global values###

//---------------------------------------------media points
$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;
//---------------------------------------------media points

//---------------------------------------------forms
$input_height: 4rem;
$input_offset: 0 2rem;
$input_font_size: $font_size_base;
$input_border_color: #ccc;
$input_border_color_active: $dark;
$input_placeholder_color: rgba($dark, .7);
$input_text_color: $dark;
$input_radius: $gl_radius;
//---------------------------------------------forms###




$xxl-mb: 13rem;
$section_mb: 6rem;